body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.logcol {
    display: flex;
    flex-direction: column-reverse;
  flex: 1;
  background: #aaa;
  overflow-y: scroll;
  height: 500px;
}
